<script>
    import { tokenStore } from "../../helpers/store";
import Box from "../elements/Box.svelte";
    import Button from "../elements/Button.svelte";

    let user = {
        'name': null,
        'password': null
    };

    let errors;

    async function submitForm() {
        errors = null;

        const call = await fetch('http://localhost:3000/api/get_token', {
            method: 'POST',
            headers: {
                "Origin": "http://localhost:5000",
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(user)
        });
        const response = await call.json();

        if(call.status !== 201) {
            errors = "Inlog en/of email is verkeerd";
        } else {
            tokenStore.set(response);
            location.replace('/auctions');
        }
    }
</script>

<Box>
    <h1 class="text-center">Inloggen</h1>

    <form on:submit|preventDefault={() => submitForm()} class="form">
        <div>
            <label for="name">Naam</label>
            <input type="text" id="name" bind:value={user.name}>
        </div>

        <div>
            <label for="password">Wachtwoord</label>
            <input type="password" id="password" bind:value={user.password}>
        </div>

        <div>
            <Button type="submit">Verzenden</Button>
        </div>
    </form>

    {#if errors}
        <span class="error">{errors}</span>
    {/if}
</Box>

<style>
    .error {
        color: red;
    }
    .form {
        background-color: var(--foreground);
        padding: var(--padding);
    }
    .form * {
        width: 100%;
    }
</style>