<script>
    import { tokenStore } from "../../helpers/store";
import Box from "../elements/Box.svelte";
    import Button from "../elements/Button.svelte";

    let user = {
        'name': null,
        'email': null,
        'password': null,
        'gender': null
    };

    let confirmpassword;

    let errors;

    async function submitForm() {
        errors = null;

        if(user.password !== confirmpassword) return errors = "Wachtwoord en Herhaal wachtwoord moeten hetzelfde zijn.";
        var passwordFormat = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})/;
        if(!user.password.match(passwordFormat)) return errors = "Wachtwoord moet minimaal 8 tekens zijn, een speciaal teken, een hoofdletter en een cijfer bevatten"

        var mailFormat = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if(!user.email.match(mailFormat)) return errors = "Ongeldige E-mail";
        if(user.email.slice(-3) !== ".nl" && user.email.slice(-4) !== ".com") return errors = "E-mail moet eindigen op .nl of .com";

        if(errors === null) {
            const call = await fetch('http://localhost:3000/api/users', {
                method: 'POST',
                headers: {
                    "Origin": "http://localhost:5000",
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(user)
            });
            const response = await call.json();


            if(call.status !== 201) {
                errors = response;
            } else {
                tokenStore.set(response);
                location.replace('/auctions');
            }
        }
    }
</script>

<Box>
    <h1 class="text-center">Registreren</h1>

    <form on:submit|preventDefault={() => submitForm()} class="form">
        <div>
            <label for="name">Naam</label>
            <input type="text" id="name" bind:value={user.name}>
        </div>

        <div>
            <label for="email">E-mail</label>
            <input type="text" id="email" bind:value={user.email}>
        </div>

        <div>
            <label for="gender">Geslacht</label>
            <select id="gender" bind:value={user.gender}>
                <option>Man</option>
                <option>Vrouw</option>
            </select>
        </div>

        <div>
            <label for="password">Wachtwoord</label>
            <input type="password" id="password" bind:value={user.password}>
        </div>

        <div>
            <label for="confirmpassword">Herhaal wachtwoord</label>
            <input type="password" id="confirmpassword" bind:value={confirmpassword}>
        </div>

        <div>
            <Button type="submit">Verzenden (18+)</Button>
        </div>
    </form>

    {#if errors}
        <span class="errors">{errors}</span>
    {/if}
</Box>

<style>
    .form {
        background-color: var(--foreground);
        padding: var(--padding);
    }
    .form * {
        width: 100%;
    }
</style>