<script lang="ts">
    import Box from "../elements/Box.svelte";
    import Button from "../elements/Button.svelte";
    import AuctionListItem from "./AuctionListItem.svelte";
    let search;
    let maxPrice;
    let userGender;
    let endDate;
    let auctions: Auction[];

    const urlParams = new URLSearchParams(window.location.search);
    let page: number = parseInt(urlParams.get('page') ?? "1");


    function paginateBack() {
        page -= 1;
        urlParams.set("page", page + "");
        window.location.search = urlParams.toString();
    }

    function paginateTo() {
        page += 1;
        urlParams.set("page", page + "");
        window.location.search = urlParams.toString();
    }

    async function loadAuctions() {
        let query = "?page=" + page;
        let prefix = "";

        if(search) {
            if(query.length > 1) prefix = "&";
            query += prefix + "search=" + search;
        }
        if(maxPrice) {
            if(query.length > 1) prefix = "&";
            query += prefix + "maxPrice=" + maxPrice;
        }
        if(userGender) {
            if(query.length > 1) prefix = "&";
            query += prefix + "userGender=" + userGender;
        }
        if(endDate) {
            if(query.length > 1) prefix = "&";
            endDate = new Date(endDate).getTime();
            query += (prefix + "endDate=" + endDate);
        }

        const response = await fetch("http://localhost:3000/api/auctions" + query, {
            method: "GET"
        });
        let results = await response.json();

        if(endDate) {
            endDate = new Date(endDate).toISOString().split('T')[0];
        }

        auctions = results;
    }
</script>

<main>
    <div>
        <Button on:click={() => { if(page > 1) { paginateBack() }}}>Vorige Pagina</Button>
        Pagina: {page}
        <Button on:click={() => paginateTo()}>Volgende Pagina</Button>
    </div>

    {#await loadAuctions()}
        <p>Laden</p>

    {:then}
        {#each auctions as auction}
            <AuctionListItem auction={auction}/>
        {/each}

    {:catch errors}
        <p></p>

    {/await}

    <Box>
        <form on:submit|preventDefault={() => {loadAuctions()}}>
            <div class="filtering">
                <div>
                    <label>Zoeken</label>
                    <input type="text" style="width: 100%;" id="search" bind:value={search} placeholder="Zoek voor iets...">
                </div>
                <div>
                    <label>Maximale prijs</label>
                    <input type="number" style="width: 100%;" id="maxPrice" bind:value={maxPrice} placeholder="Maximale prijs">
                </div>
                <div>
                    <label>Gender van gebruiker</label>
                    <select type="text" style="width: 100%;" id="userGender" bind:value={userGender}>
                        <option value={null}></option>
                        <option value="male">Man</option>
                        <option value="female">Vrouw</option>
                    </select>
                </div>
                <div>
                    <label>Uiterste einddatum</label>
                    <input type="date" style="width: 100%;" id="endDate" bind:value={endDate} placeholder="Uiterste einddatum">
                </div>
            </div>
            <Button>Filteren</Button>
        </form>
    </Box>
</main>

<style>
    .filtering {
        display: flex;
        flex-wrap: wrap;
        gap: var(--padding);
        align-items: stretch;
        justify-content: space-between;
    }
    .filtering * {
        margin-bottom: 0;
        min-width: 20%;
    }
    main {
        display: flex;
        flex-direction: column-reverse;
        gap: var(--padding);
    }
</style>