<script>
    import Clickable from "../elements/Clickable.svelte";
    import { tokenStore } from "../../helpers/store";
    import { getBidDetails } from "../../helpers/bids";

    export let auction;

    let errors;
</script>

<Clickable link="/auctions/{auction.id}">
    <main>
        <div>
            <h4>{auction.title}</h4>
            <p>{auction.description}</p>
        </div>
    </main>
</Clickable>

<style>
    main {
        display: flex;
        justify-content: space-between;
    }
</style>