<script lang="ts">
    import { getUser } from "../../helpers/auth";
    import { getBidDetails } from "../../helpers/bids";
    import { timeConverter } from "../../helpers/functions";
    import { tokenStore } from "../../helpers/store";
    import Box from "../elements/Box.svelte";
    import Button from "../elements/Button.svelte";
    import DeleteForm from "./DeleteForm.svelte";
    export let auction: Auction;

    let errors;

    async function getLargestBid() {
        errors = null;

        const call = await fetch(`http://localhost:3000/api/auctions/${auction.id}/bids?largestOnly=true`, {
            headers: {
                "Origin": "http://localhost:5000",
                "Content-Type": "application/json",
                "Authorization": "Bearer " + $tokenStore,
            },
        });

        let largerstBid = await call.json();
        largerstBid = await getBidDetails(largerstBid);

        if(call.status == 200) {
            return largerstBid;
        } else return "No largest bid";
    }



</script>

<main class="container">
    <Box>
        <span class="flex">
            <div>
                <h1>{auction.title}</h1>
                <p>{auction.description}</p>
                <p>Gebruikersnaam van de date: {auction.user.name}</p>
                <p>Geslacht van de date: {#if auction.user.gender == 'male'} Man {:else} Vrouw {/if}</p>
            </div>

            <div>
                {#await getUser()}
                    <span></span>
                {:then user}
                    {#if user.role + "" == "admin"}
                        <Button on:click={() => { location.replace(`/auctions/${auction.id}/edit`) }}>Edit</Button>
                        <DeleteForm auction={auction}/>
                    {/if}
                {/await}

                {#await getLargestBid()}
                    <p>Laden... :)</p>

                {:then bid}
                    <p>Hoogste bod: {bid.creator.name} met €{bid.amount},-</p>

                {/await}
                <p>Veiling gemaakt door: {auction.creator.name}</p>
                <p>De veiling sluit op: {timeConverter(auction.end_date)}</p>
            </div>
        </span>
    </Box>
</main>

<style>
    .flex {
        display: flex;
        justify-content: space-between;
    }
    h1 {
        margin-top: 0;
    }



</style>
