<script lang="ts">
    import { tokenStore } from "../../helpers/store";
    import Button from "../elements/Button.svelte";
    export let auction: Auction;
    let errors;

    async function deleteAuction() {
        const response = await fetch(`http://localhost:3000/api/auctions/${auction.id}`, {
            method: "DELETE",
            headers: {
                "Origin": "http://localhost:5000",
                "Content-Type": "application/json",
                "Authorization": "Bearer " + $tokenStore,
            }
        });

        const reply = await response.json();
        if(response.status == 200) {
            location.replace('/auctions');
        } else {
            errors = reply;
        }
    }

</script>

<Button on:click={() => { deleteAuction() }}>Verwijder Veiling</Button>
{#if errors}
    <p style="color: red">{errors}</p>
{/if}