<script lang="ts">
    import { tokenStore } from "../../helpers/store";
import Box from "../elements/Box.svelte";
    import Button from "../elements/Button.svelte";
    let errors;
    export let auction: Auction;
    let edit = location.pathname.includes('edit');

    async function load() {
        if(auction.end_date) {
            auction.end_date = new Date(auction.end_date).toISOString().split('T')[0];
        }
    }

    async function submitForm() {
        auction.end_date = new Date(auction.end_date).getTime();

        if(edit) {
            const response = await fetch("http://localhost:3000/api/auctions/" + auction.id, {
                method: "PUT",
                headers: {
                    Origin: "http://localhost:5000",
                    "Content-Type": "application/json",
                    "Authorization": "Bearer " + $tokenStore,
                },
                body: JSON.stringify(auction),
            });

            if(response.status === 200) {
                let auctionresponse: Auction = await response.json();
                let auction_id = auctionresponse.id;
                location.replace("/auctions/" + auction_id);
            } else {
                auction.end_date = new Date(auction.end_date).toISOString().split('T')[0];
                errors = await response.json();
            }
        } else {
            const response = await fetch("http://localhost:3000/api/auctions", {
                method: "POST",
                headers: {
                    "Origin": "http://localhost:5000",
                    "Content-Type": "application/json",
                    "Authorization": "Bearer " + $tokenStore,
                },
                body: JSON.stringify(auction),
            });

            if(response.status === 201) {
                let auctionresponse: Auction = await response.json();
                let auction_id = auctionresponse.id;
                location.replace("/auctions/" + auction_id);
            } else {
                auction.end_date = new Date(auction.end_date).toISOString().split('T')[0];
                errors = await response.json();
            }
        }
    }
</script>

{#await load()}
    <span>Laden... :)</span>

{:then}
    <Box>
        <h1 class="text-center">{#if edit} Bewerk {auction.title} {:else} Maak nieuwe veiling {/if}</h1>

        <form class="form" on:submit|preventDefault={() => {submitForm()}}>
            <div>
                <label for="title">Titel voor veiling</label>
                <input type="text" bind:value={auction.title} placeholder="Veiling titel">
            </div>

            <div>
                <label for="description">Omschrijving voor veiling</label>
                <textarea bind:value={auction.description} placeholder="Veiling omschrijving"></textarea>
            </div>

            <div>
                <label for="end_date">Einddatum voor veiling</label>
                <input type="date" bind:value={auction.end_date} placeholder="Veiling einddatum">
            </div>

            <div>
                <label for="user_id">Gebruikers ID</label>
                <input type="number" bind:value={auction.user_id} placeholder="Veiling product">
            </div>

            <div>
                <Button>Aanmaken</Button>
            </div>
        </form>

        {#if errors}
            <span class="error">{errors}</span>
        {/if}
    </Box>

{/await}

<style>
    .error {
        color: red;
    }
    .form {
        background-color: var(--foreground);
        padding: var(--padding);
    }
    .form * {
        width: 100%;
    }
</style>