<script>
import AuctionList from '../components/auctions/AuctionList.svelte';

	import LoginForm from '../components/auth/LoginForm.svelte';
	import RegisterForm from '../components/auth/RegisterForm.svelte';
	import GuestLayout from '../layouts/GuestLayout.svelte';
</script>

<GuestLayout>
	<div class="container">
		<div class="text-center">
			<h1 style="margin: 0; font-size: 2em;">Welkom bij Love Auctions</h1>
			<p>Regristreer je vandaag nog om je ware liefde tegen te komen en daar mee te daten! Je kan een date winnen als jij
				degene bent met het hoogste bod. Door te registreren ga je ermee akkoord dat je boven de 18 bent.</p>
		</div>

		<br/>
		<hr/>
		<br/>

		<div class="auth">
			<div>
				<h1 class="text-center">Doe mee!</h1>
				<br/>
				<p class="text-center">
					Doe mee met Love Auctions. Login of registreer hiernaast om toegang te krijgen tot biedingen!
					Ontmoet jouw nieuwe liefde in een pay-to-win date vandaag nog!
				</p>
			</div>
			<div>
				<LoginForm/>
			</div>
			<div>
				<RegisterForm/>
			</div>
		</div>

		<br/>
		<hr/>
		<br/>

		<div>
			<AuctionList/>
		</div>
	</div>
</GuestLayout>

<style>
	.container {
		padding: var(--padding-lg) 0;
	}

	.auth {
		display: flex;
		justify-content: stretch;
		gap: var(--padding-lg);
	}

	.auth > div {
		width: 33%;
	}
</style>