<script>
	import router from 'page';
	import Home from "./routes/Home.svelte";
	import AuctionIndex from "./routes/auctions/AuctionIndex.svelte";
	import AuctionShow from "./routes/auctions/AuctionShow.svelte";
	import AuctionEdit from "./routes/auctions/AuctionEdit.svelte";
	import AuctionCreate from "./routes/auctions/AuctionCreate.svelte";
	import Login from "./routes/auth/Login.svelte";
	import Register from "./routes/auth/Register.svelte";
	import RequestIndex from "./routes/requests/RequestIndex.svelte";
	import Dashboard from './routes/admin/Dashboard.svelte';

	let page;
	let params;

	router('/', () => {
		page = Home
	});

	router('/login', () => {
		page = Login
	});

	router('/register', () => {
		page = Register
	});

	router('/auctions', () => {
		page = AuctionIndex
	});

	router('/requests', () => {
		page = RequestIndex
	});

	router('/admin', (ctx) => {
		params = ctx.params;
		page = Dashboard;
	});

	router('/auctions/create', (ctx) => {
		params = ctx.params;
		page = AuctionCreate;
	});

	router('/auctions/:id', (ctx) => {
		params = ctx.params;
		page = AuctionShow;
	});

	router('/auctions/:id/edit', (ctx) => {
		params = ctx.params;
		page = AuctionEdit;
	});

	router.start();
</script>

<svelte:head>
	<title>LoveAuctions.nl</title>
</svelte:head>
<svelte:component this={page} params={params} />

<style>
	:global(body) {
		--background: rgb(249, 250, 251);
		--foreground: rgb(240, 240, 240);
		--background-highlight: #ffbf00;
		--background-highlight-dark: #faaa00;
		--text: black;

		--text-danger: red;
		--text-black: black;
		--padding: 20px;
		--padding-lg: 40px;
	}
	:global(body.dark-mode) {
		--background: rgb(27, 28, 34);
		--foreground: rgb(37, 38, 44);
		--background-highlight: #f08124;
		--text: rgb(255,255,255);
	}

	:global(.container) {
		max-width: 1200px;
		margin: auto;
	}

	:global(a) {
		color: black;
		text-decoration: none;
	}

	:global(a:hover) {
		text-decoration: underline;
	}

	:global(a:visited) {
		color: rgb(0,80,160);
	}

	:global(.header) {
		list-style-type: none;
		display: flex;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	:global(label) {
		display: block;
	}

	:global(input, button, select, textarea) {
		font-family: inherit;
		font-size: inherit;
		-webkit-padding: 0.4em 0;
		padding: 0.4em;
		margin: 0 0 0.5em 0;
		box-sizing: border-box;
		border: 1px solid #ccc;
		border-radius: 5px;
	}

	:global(input:disabled) {
		color: #ccc;
	}

	:global(form) {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	:global(.no-spacing) {
		margin: 0;
		padding: 0;
	}

	:global(.text-center) {
		text-align: center;
	}

	:global(.flex-row) {
		display: flex;
		flex-direction: row;
		gap: 10px;
		align-items: center;
	}

	:global(.errors) {
		color: var(--text-danger);
	}
</style>