<script>
    import { getUser, logOut } from "../../helpers/auth";
    import Button from "../elements/Button.svelte";
    import Logo from "../elements/Logo.svelte";
    import MenuItem from "./Header/MenuItem.svelte";
</script>

<header>
    <div class="container">
        <ul class="flex-row">
            <MenuItem link="/">
                <Logo/>
            </MenuItem>
        </ul>

        <ul class="flex-row">

            {#await getUser()}
                <span></span>
            {:then user}
                {#if user.role + "" == "admin"}
                    <MenuItem link="/admin">Admin Dashboard</MenuItem>
                {/if}
            {/await}
            <MenuItem link="/requests">Aanvragen</MenuItem>
            <MenuItem link="/auctions">Veilingen</MenuItem>
            <Button on:click={() => logOut()}>Logout</Button>
        </ul>
    </div>
</header>

<style>
    .flex-row {
        padding: 0;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header {
        background-color: var(--background-highlight);
    }
</style>






