
<script>
    import ThemeSwitcher from "../elements/ThemeSwitcher.svelte";
    import Logo from "../elements/Logo.svelte";
    import MenuItem from "./Header/MenuItem.svelte";
</script>

<footer>
    <div class="container">
        <ul class="flex-row">
            <MenuItem link="/">
                <Logo/>
            </MenuItem>
            <p>LoveAuctions 2021 © Pascal & Thom</p>
        </ul>

        <div>
            <ThemeSwitcher></ThemeSwitcher>
        </div>
    </div>
</footer>

<style>
    .flex-row {
        padding: 0;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    footer {
        color: var(--text-black);
        background-color: var(--background-highlight);
        padding: 5px 10px;
    }
</style>
