<script>
    import Logo from "../elements/Logo.svelte";
    import MenuItem from "./Header/MenuItem.svelte";
</script>

<header>
    <div class="container">
        <ul class="flex-row">
            <MenuItem link="/">
                <Logo/>
            </MenuItem>
        </ul>
        <ul class="flex-row">
            <MenuItem link="/login">Inloggen</MenuItem>
            <MenuItem link="/register">Registreren</MenuItem>
        </ul>
    </div>
</header>

<style>
    .flex-row {
        padding: 0;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header {
        background-color: var(--background-highlight);
    }
</style>
