<script lang="ts">
    import CreateForm from "../../components/requests/CreateForm.svelte";
    import RequestItem from "../../components/requests/RequestItem.svelte";
    import RequestList from "../../components/requests/RequestList.svelte";
    import { getUser } from "../../helpers/auth";
    import { tokenStore } from "../../helpers/store";
    import AuthLayout from "../../layouts/AuthLayout.svelte";

    async function getRequests() {
        let call = await fetch(`http://localhost:3000/api/requests`, {
            method: "GET",
            headers: {
                Origin: "http://localhost:5000",
                "Content-Type": "application/json",
                "Authorization": "Bearer " + $tokenStore,
            },
        });
        let response = await call.json();
        return response;
    }

    async function hasRequest(user: User) {
        let call = await fetch(`http://localhost:3000/api/requests?created_by=${user.id}`, {
            method: "GET",
            headers: {
                Origin: "http://localhost:5000",
                "Content-Type": "application/json",
                "Authorization": "Bearer " + $tokenStore,
            },
        });
        let response = await call.json();

        if(call.status !== 200 || response.length < 1) {
            return false;
        } else {
            response = response[0];
            let request = response;
            const creatorresponse = await fetch(`http://localhost:3000/api/users/${request.created_by}`, {
                method: "GET"
            });
            const creator: User = await creatorresponse.json();
            request.creator = creator;
            return request;
        }
    }
</script>

<AuthLayout>
    {#await getUser()}
        <p>Laden...</p>

    {:then user}

        {#if user.role + "" == "admin"}
            {#await getRequests()}
                <p>Laden...</p>

            {:then requests}
                <div class="container">
                    <RequestList requests={requests}/>
                </div>
            {/await}

        {:else if user.role + "" == "user"}
            {#await hasRequest(user)}
                <p>Laden...</p>

            {:then request}
                {#if request !== null}
                    <div class="container">
                        <RequestItem request={request}/>
                    </div>

                {:else}
                    <div class="container">
                        <CreateForm/>
                    </div>
                {/if}

            {/await}

        {/if}

    {/await}
</AuthLayout>