<script>
    import MainLayout from "./MainLayout.svelte";
    import {isLoggedIn } from "../helpers/store";
    import { getUser } from "../helpers/auth";
</script>

{#await getUser()}
    <p>Laden... :)</p>
{:then user}
    {#if $isLoggedIn && user.role + "" == "admin"}
        <MainLayout>
            <slot></slot>
        </MainLayout>

    {:else}
        <script>
            window.location.replace("/login");
        </script>

    {/if}
{/await}