<script>
    import MainLayout from "./MainLayout.svelte";
    import { isLoggedIn } from "../helpers/store";
</script>

{#if $isLoggedIn}
    <MainLayout>
        <slot></slot>
    </MainLayout>

{:else}
    <script>
        window.location.replace("/login");
    </script>

{/if}