<script>
    import MainLayout from "./MainLayout.svelte";
    import Account from "../routes/auth/Account.svelte"
    import { isLoggedIn } from "../helpers/store";
</script>

{#if $isLoggedIn}
    <script>
        window.location.replace("/auctions");
    </script>

{:else}
    <MainLayout>
        <slot></slot>
    </MainLayout>

{/if}