<script>
    import Header from "../components/structure/Header.svelte"
    import Footer from "../components/structure/Footer.svelte"
    import AuthHeader from "../components/structure/AuthHeader.svelte"
    import { isLoggedIn } from "../helpers/store";
</script>

<main>
    <article>
        <slot name="header">
            {#if $isLoggedIn}
                <AuthHeader/>
            {:else}
                <Header/>
            {/if}
        </slot>

        <div>
            <slot></slot>
        </div>
    </article>

    <Footer/>
</main>

<style>
    main {
        color: var(--text);
    }
    article {
        min-height: 100vh;
    }
    div {
        margin: var(--padding-lg) 0;
    }
</style>