<script lang="ts">
    import { getBidDetails } from "../../helpers/bids";
    import { timeConverter } from "../../helpers/functions";
    import HoverBox from "../elements/HoverBox.svelte";
    import DeleteForm from "./DeleteForm.svelte";

    export let bid: Bid;
</script>

<main>
    {#await getBidDetails(bid)}
        <p>Laden...</p>

    {:then bid}
        <HoverBox>
            <div class="item">
                <h4 class="no-spacing">{bid.creator.name} | {timeConverter(bid.created_at)}</h4>
                <div class="item">
                    <h3 class="no-spacing">€{bid.amount},-</h3>
                    <DeleteForm bid={bid}/>
                </div>
            </div>
        </HoverBox>

    {:catch errors}
        <p>{errors}</p>

    {/await}
</main>

<style>
    .item {
        display: flex;
        justify-content: space-between;
    }
</style>