<script lang="ts">
    import BidListItem from "./BidListItem.svelte";
    export let bids: Bid[];
</script>

<main>
    {#each bids as bid}
        <BidListItem bid={bid}/>
    {/each}
</main>

<style>
    main {
        display: flex;
        gap: 10px;
        flex-direction: column-reverse;
    }
</style>