<script lang="ts">
    import { getUser } from "../../helpers/auth";
import Box from "../elements/Box.svelte";
    import Button from "../elements/Button.svelte";

    export let auction: Auction;
    let errors;

    let bid: Bid  = {
        id: 0,
        auction_id: auction.id,
        created_at: 0,
        created_by: 0,
        amount: 0,
    };

    let largestBid: Bid = {
        id: 0,
        auction_id: 0,
        created_at: 0,
        created_by: 0,
        amount: 0,
    };

    auction.bids.forEach((element: Bid) => {
        if(element.amount > largestBid.amount){
            largestBid = element;
        }
    });

    bid.amount = largestBid.amount + 1;

    async function placeBid() {
        let user: User = await getUser();
        if(bid.amount <= largestBid.amount) {
            return errors = "Je bod moet hoger zijn dan het hoogste bod!";
        }
        bid.created_at = Date.now();
        bid.created_by = user.id;
        bid.auction_id = auction.id;

        const call = await fetch('http://localhost:3000/api/bids', {
            method: 'POST',
            headers: {
                "Origin": "http://localhost:5000",
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(bid)
        });
        const response = await call.json();
        if(call.status !== 201) {
            errors = response;
        } else {
            location.reload();
        }
    }
</script>

<Box>
    <form>
        <div style="display: flex; align-items: center; gap: 10px;">
            <span>€</span>
            <input type="number" placeholder="Jouw bod in euro's" bind:value={bid.amount}>
        </div>
        <Button on:click={event => { event.preventDefault(); placeBid()}}>Bod plaatsen</Button>
    </form>
</Box>

{#if errors}
    <p class="errors">{errors}</p>
{/if}

<style>
    .errors {
        color: red;
    }
    form input {
        flex-grow: 1;
        margin: 0;
    }
    form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
</style>