<script lang="ts">
    import { getUser } from "../../helpers/auth";
    import { tokenStore } from "../../helpers/store";
    import Button from "../elements/Button.svelte";
    let errors;
    export let bid: Bid;

    async function permitted() {
        const user: User = await getUser();

        if(user.role + "" == "admin" || user.id == bid.created_by) {
            return true;
        }
        return false;
    }

    async function deleteBid() {
        const response = await fetch(`http://localhost:3000/api/bids/${bid.id}`, {
            method: "DELETE",
            headers: {
                "Origin": "http://localhost:5000",
                "Content-Type": "application/json",
                "Authorization": "Bearer " + $tokenStore,
            }
        });

        const reply = await response.json();
        if(response.status == 200) {
            location.reload();
        } else {
            errors = reply;
        }
    }
</script>

{#await permitted()}

{:then permitted}
    {#if permitted}
        <Button on:click={deleteBid}>
            Verwijder
        </Button>
        {#if errors}
            <p style="color: red;">{errors}</p>
        {/if}
    {/if}

{/await}