<script>
    import AuthLayout from "../../layouts/AuthLayout.svelte";
    import AuctionList from "../../components/auctions/AuctionList.svelte";
</script>

<AuthLayout>
    <div class="container">
        <AuctionList/>
    </div>
</AuthLayout>