<script lang="ts">
    import EditForm from "../../components/auctions/EditForm.svelte";
    import { getUser } from "../../helpers/auth";
    import AdminLayout from "../../layouts/AdminLayout.svelte";

    export let params;
    let auction: Auction;

    async function load() {
        let user: User = await getUser();

        auction = {
            id: 0,
            title: null,
            description: null,
            user_id: null,
            end_date: null,
            created_by: user.id,
        };
    }
</script>


<AdminLayout>
    {#await load()}
        <p>laden... :)</p>

    {:then}
        <div class="container">
            <EditForm auction={auction}/>
        </div>

    {/await}
</AdminLayout>

<style>
    .container {
        padding: 0 0 var(--padding-lg) 0;
    }
</style>