<script lang="ts">
    import AuctionItem from "../../components/auctions/AuctionItem.svelte";
    import BidList from "../../components/bids/BidList.svelte";
    import CreateForm from "../../components/bids/CreateForm.svelte";
    import { isLoggedIn } from "../../helpers/store";
    import MainLayout from "../../layouts/MainLayout.svelte";

    export let params;
    let auctionIsOpen;

    async function loadAuction(): Promise<Auction> {
        const response = await fetch("http://localhost:3000/api/auctions/" + params.id, {
            method: "GET"
        });
        const auction: Auction = await response.json();

        const bidresponse = await fetch(`http://localhost:3000/api/bids?auction_id=${auction.id}`, {
            method: "GET"
        });
        const bids: Bid[] = await bidresponse.json();
        auction.bids = bids;

        const userresponse = await fetch(`http://localhost:3000/api/users/${auction.user_id}`, {
            method: "GET"
        });
        const user: User = await userresponse.json();
        auction.user = user;

        const creatorresponse = await fetch(`http://localhost:3000/api/users/${auction.created_by}`, {
            method: "GET"
        });
        const creator: User = await creatorresponse.json();
        auction.creator = creator;

        if(auction.end_date < Date.now()) {
            auctionIsOpen = false;
        } else {
            auctionIsOpen = true;
        }

        return auction;
    }
</script>


<MainLayout>
    <div class="container">
        {#await loadAuction()}
            <p>...laden :)</p>

        {:then auction}
            <div>
                <AuctionItem auction={auction}/>
            </div>

            {#if $isLoggedIn && auctionIsOpen}
                <CreateForm auction={auction}/>
            {:else if auctionIsOpen == false}
                <h3>Deze veiling is gesloten</h3>
            {/if}

            <BidList bids={auction.bids}/>

        {:catch error}
            <p style="color red">{error.message}</p>

        {/await}
    </div>
</MainLayout>

<style>
    .container {
        display: flex;
        flex-direction: column;
        gap: var(--padding);
        align-items: stretch;
    }
</style>