<script lang="ts">
    import { getUser } from "../../helpers/auth";
    import { tokenStore } from "../../helpers/store";
    import Button from "../elements/Button.svelte";
    let request: AppRequest = {
        id: 0,
        approved: false,
        created_at: 0,
        created_by: 0,
    };
    let errors;
    let message;

    async function placeRequest() {
        let user: User = await getUser();
        request.created_at = Date.now();
        request.created_by = user.id;

        const call = await fetch("http://localhost:3000/api/requests", {
            method: "POST",
            headers: {
                Origin: "http://localhost:5000",
                "Content-Type": "application/json",
                "Authorization": "Bearer " + $tokenStore,
            },
            body: JSON.stringify(request),
        });
        const response = await call.json();
        if (call.status !== 201) {
            errors = response;
        } else {
            message = "Aanvraag is succesvol verzonden.";
            location.reload();
        }
    }
</script>

<form>
    <Button
        on:click={(event) => {
            event.preventDefault();
            placeRequest();
        }}>Aanvraag veiling plaatsen</Button
    >

    {#if errors}
        <p class="errors">{errors}</p>
    {/if}

    {#if message}
        <p class="message">{message}</p>
    {/if}
</form>

<style>
    .errors {
        color: red;
    }

    .message {
        color: green;
    }
    form input {
        flex-grow: 1;
        margin: 0;
    }
    form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--foreground);
        padding: var(--padding);
        margin: var(--padding) 0;
    }
</style>
