<script lang="ts">
    import { timeConverter } from "../../helpers/functions";
    import { tokenStore } from "../../helpers/store";
import Box from "../elements/Box.svelte";
    import Button from "../elements/Button.svelte";
    export let request: AppRequest;
    let errors;

    async function loadCreator() {
        const creatorresponse = await fetch(`http://localhost:3000/api/users/${request.created_by}`, {
            method: "GET"
        });
        const creator: User = await creatorresponse.json();
        request.creator = creator;
    }

    async function approveRequest() {
        request.approved = true;
        const call = await fetch(`http://localhost:3000/api/requests/${request.id}`, {
            method: "PUT",
            headers: {
                Origin: "http://localhost:5000",
                "Content-Type": "application/json",
                "Authorization": "Bearer " + $tokenStore,
            },
            body: JSON.stringify(request),
        });
        let response = await call.json();
        if(call.status !== 200) {
            errors = response;
        } else {
            location.reload();
        }
    }

    async function denyRequest() {
        const call = await fetch(`http://localhost:3000/api/requests/${request.id}`, {
            method: "DELETE",
            headers: {
                Origin: "http://localhost:5000",
                "Content-Type": "application/json",
                "Authorization": "Bearer " + $tokenStore,
            },
        });
        if(call.status !== 200) {
            errors = await call.json();
        } else {
            location.reload();
        }
    }

</script>

<Box>
    <main>
        {#await loadCreator()}
            <p>Laden...</p>

        {:then}
            <div>
                <h1>
                    Aanvraag van gebruiker: {request.creator.name}
                </h1>
                <p>
                    Aanvraag gemaakt op: {timeConverter(request.created_at)}
                </p>
                <p>
                    Status van de aanvraag: {#if request.approved}Geaccepteerd{:else}In behandeling{/if}
                </p>
            </div>

            {#if request.approved == false}
                <div class="btns">
                    <Button
                        on:click={(event) => {
                            event.preventDefault();
                            approveRequest()
                        }}>Aanvraag veiling goedkeuren</Button
                    >
                    <Button
                        on:click={(event) => {
                            event.preventDefault();
                            denyRequest();
                        }}>Aanvraag veiling afkeuren</Button
                    >
                </div>
            {/if}
        {/await}

        {#if errors}
            <p>{errors}</p>
        {/if}
    </main>
</Box>

<style>
    .btns {
        display: flex;
        flex-direction: column;
        gap: var(--padding);
    }

    main {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    h1 {
        margin-top: 0;
    }

</style>