<script lang="ts">
    import RequestListItem from "./RequestListItem.svelte";
    export let requests: AppRequest[] = [];
</script>

<main>
    {#if requests.length > 0}
        {#each requests as request}
            <RequestListItem request={request}/>
        {/each}
    {:else}
        <p>Er zijn geen openstande aanvragen!</p>
    {/if}
</main>

<style>
    main {
        display: flex;
        gap: 10px;
        flex-direction: column-reverse;
    }
</style>