<script lang="ts">
    import { timeConverter } from "../../helpers/functions";
    export let request: AppRequest;
</script>

<main>
    <div>
        <h1>
            Jouw aanvraag voor een auction
        </h1>
        <p>
            Aanvraag gemaakt op: {timeConverter(request.created_at)}
        </p>
        <p>
            Status van je aanvraag: {#if request.approved}Geaccepteerd{:else}In behandeling{/if}
        </p>
    </div>
</main>

<style>
    main {
        display: flex;
        justify-content: space-between;
        background-color: var(--foreground);
        padding: var(--padding);
        margin: var(--padding) 0;
        flex-direction: row;
    }

    h1 {
        margin-top: 0;
    }
</style>
