<script>
    import LoginForm from "../../components/auth/LoginForm.svelte";
    import GuestLayout from "../../layouts/GuestLayout.svelte"
</script>

<GuestLayout>
    <div class="container">
        <LoginForm/>
    </div>
</GuestLayout>