<script>
    import RegisterForm from "../../components/auth/RegisterForm.svelte";
    import GuestLayout from "../../layouts/GuestLayout.svelte"
</script>

<GuestLayout>
    <div class="container">
        <RegisterForm/>
    </div>
</GuestLayout>