<script>
    import Box from "../../components/elements/Box.svelte";
import ButtonA from "../../components/elements/ButtonA.svelte";
    import AdminLayout from "../../layouts/AdminLayout.svelte";
</script>
<AdminLayout>

    <div class="container text-center">
        <Box>
            <ButtonA type="submit" link="/auctions/create">Maak nieuwe veiling</ButtonA>
            <ButtonA type="submit" link="/requests">Aangevraagde veilingen</ButtonA>
        </Box>
    </div>

</AdminLayout>

<style>
    div {
        margin: var(--padding-lg) auto;
        display: flex;
        justify-content: center;
        gap: var(--padding);
    }
</style>


