<div>
    <slot></slot>
</div>

<style>
    div {
        background-color: var(--foreground);
        font-size: 1.1em;
        padding: var(--padding);
        border-radius: 8px;
        margin-bottom: 0;
        transition-duration: 0.2s;
    }
</style>