<button on:click>
    <slot></slot>
</button>

<style>
    button {
        background-color: var(--background-highlight);
        color: black;
        font-size: 1.1em;
        padding: 4px 20px;
        cursor: pointer;
        border: 1px solid black;
        border-radius: 8px;
        margin-bottom: 0;
        transition-duration: 0.2s;
    }

    button:hover {
        transition-duration: 0.2s;
        background-color: var(--background-highlight-dark);
        box-shadow: 5px 5px black;
    }
</style>