<script>
    export let link;
</script>

<a href={link}>
    <slot></slot>
</a>

<style>
    a {
        background-color: var(--foreground);
        color: var(--text);
        font-size: 1.1em;
        padding: var(--padding);
        cursor: pointer;
        border-radius: 8px;
        margin-bottom: 0;
        transition-duration: 0.2s;
    }

    a:hover {
        text-decoration: none;
        transition-duration: 0.2s;
        background-color: var(--foreground);
        box-shadow: 5px 5px black;
    }
</style>