<img src="/logo.png" alt="logo"/>

<style>
    img {
        height: 3em;
        border-radius: 5px;
        transition-duration: 0.2s;
    }

    img:hover {
        transition-duration: 0.2s;
        background-color: var(--background-highlight-dark);
        box-shadow: 5px 5px black;
    }
</style>