<script>
    import Button from "./Button.svelte";

    function toggle() {
        window.document.body.classList.toggle('dark-mode')
        darkMode = window.document.body.classList.contains('dark-mode');
    }

    let darkMode = window.document.body.classList.contains('dark-mode');
</script>

<Button on:click={toggle}>
    {#if darkMode}
        Light Mode
    {:else}
        Dark Mode
    {/if}
</Button>